
/* Questão 1 */
 
#questão1 {
    background: linear-gradient(rgba(0, 0, 0,0.1) 35%,rgba(0, 0, 0, 0.9)), url('../images/backgrounds/calculo.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.q1__form {
    background-color: #FFF;
    width: fit-content;
    padding: 50px;
    border-radius: 20px 4px;
    box-shadow: 3px 1px 19px 0px #00000040;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.q1__form > h1{
    font-size: 1.6rem;
    margin-bottom: 20px;
    font-weight: 700;
    color: var(--cinza700);
}

.q1__form > .resultado {
    color: var(--cinza700);
    margin: 10px 0px;
    min-height: 20px;
}

.q1__form > .resultado > .msg__error{
    color: red;
}

.q1__form  > button {
    color: var(--azul);
    border: 1px solid var(--azul);
    transition: background-color 0.2s ease-in-out;
}

.q1__form  > button:hover {
    color: #FFF;
    background-color: var(--azul);
}

