/* Questão 2 */

#background {
    background-image: var(--gradientPrincipal);
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    width: calc(100% - 300px);
    max-width: 1200px;
    max-height: calc(100vh - 80px);
    overflow: hidden;
    background-color: #FFF;
    border-radius: 12px;
    padding: 30px;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
}

#container > h1 {
    font-size: 2rem;
    color: var(--cinza500);
    margin-bottom: 20px;
}

#container form {
    max-height: 100%;
    overflow-y: auto;
    padding-right: 8px;
    display: flex;
    flex-direction: column;
}

.containerInputs {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    width: 100%;
}

.containerInputs label {
    width: calc(50% - 5px);
}

.fieldset {
    position: relative;
    margin-top: 20px;
    border-radius: 4px;
    border: 1px solid var(--cinza300);
    padding: 20px 20px;
}

.fieldset h2 {
    font-size: 0.80rem;
    font-weight: 400;
    position: absolute;
    padding: 0px 5px;
    background-color: #FFF;
    top: -8px;
    left: 8px;
    color: var(--cinza400);
}

.containerSelect {
    display: flex;
    margin-top: 10px;
}

.containerSelect label {
    width: auto;
}

.containerSelect label:first-child {
    margin-right: 15px;
}

button {
    background-color: var(--azulClaro);
    color: var(--azul);
}

button:hover {
    background-color: var(--azul);
    color: #FFF;
}

button.reset {
    margin-right: 15px;
    background-color: var(--vermelhoClaro);
    color: var(--vermelho);
}

button.reset:hover{
    color: #FFF;
    background-color: var(--vermelho);
}

.containerButtons {
    margin-top: 15px;
    display: flex;
}

.containerForm {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    padding-right: 7px;
}